@use "../settings" as *;
@use "../tools" as *;

.product {
  @include flex-shorthand(column, 3.7rem);

  &__image-box {
    position: relative;
  }

  &__image {
    border-radius: 0.8rem;
  }

  &__button {
    @include absolute-shorthand($inset-block-end: 0, $inset-inline-start: 50%);

    transform: translate(-50%, 50%);

    &--type-increment-quantity {
      inset: 50% auto auto 8%;
      transform: translate(0, -50%);
    }

    &--type-decrement-quantity {
      inset: 50% 8% auto auto;
      transform: translate(0, -50%);
    }
  }

  &__text-content {
    @include flex-shorthand(column, 0.15rem);
  }

  &__category {
    font-size: 1.4rem;
    color: $color-rose-400;
  }

  &__name,
  &__price {
    @include font-shorthand($font-size-product-name, 600);
  }

  &__name {
    color: $color-rose-900;
  }

  &__price {
    color: $color-primary-red;
  }
}
