/* Pure Colors: */
$color-pure-white: #fff;
$color-pure-black: #000;

/* Primary Color: */
$color-primary-red: #c73a0f;

/* Accent Color: */
$color-accent-green: #1ea475;

/* Rose Tints And Shades: */
$color-rose-50: #fcf9f7;
$color-rose-100: #f4edeb;
$color-rose-300: #c9aea6;
$color-rose-400: #ad8985;
$color-rose-500: #87635a;
$color-rose-900: #260f08;
